# Visual Studio 임시 폴더 (여기가 핵심입니다!)
.vs/

bin/
obj/

# 유니티 기본 폴더 무시
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

# Visual Studio 프로젝트 파일들
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# 유니티 에디터 설정 및 캐시
.DS_Store
sysinfo.txt
*.apk
*.unitypackage

# OS 관련 임시 파일
Thumbs.db
ehthumbs.db
Desktop.ini

# 사용자 지정 경로
GameDesign/SubTool/ExcelToJsonConverter/dev/build/ExcelToJsonConverter/localpycs
GameDesign/SubTool/ExcelToJsonConverter/dev/__pycache__